<a href="https://colab.research.google.com/github/JenifferZam/Inteligencia-artificial/blob/main/Miercoles_23_10_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [ ]:
numero=5
tmp1="Jeniffer"
print(numero)
print(f"Mi nombre es {tmp1}")
print(numero+5)
print(numero-3)
print(numero*3)
print(numero/3)
print(numero%3)
print(numero**3)
numero *=2
print(numero)
print(type(numero))

5
Mi nombre es Jeniffer
10
2
15
1.6666666666666667
2
125
10
<class 'int'>

In [ ]:
t=True
f=False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t!=f)

<class 'bool'>
False
True
False
True

In [ ]:
aux1='hello'
aux2='world'
aux3='JENI'
print(aux1+aux2)
print(aux1*4)
print(aux1.capitalize())
print(aux1.upper())
print(aux3.lower())

helloworld
hellohellohellohello
Hello
HELLO
jeni

In [ ]:
aux2=list()
aux2.append(4)
aux2.append("jeniffer")
aux2.append(True)
print(aux2)
#print(aux2[0])
print(aux2[1])
#print(aux2[2])
print(aux2[-1])
#print(aux2[-2])
#print(aux2[-3])
print('********************')
aux2[1]='juan'
print(aux2)
aux3=[1,2,3,'juan',True,False]
print(aux3)
aux3.pop()
print(aux3)

[4, 'jeniffer', True]
jeniffer
True
********************
[4, 'juan', True]
[1, 2, 3, 'juan', True, False]
[1, 2, 3, 'juan', True]

In [ ]:
tmp1=list(range(100))
for x in tmp1:
  print(f"El valor es {x}")

El valor es 0
El valor es 1
El valor es 2
El valor es 3
El valor es 4
El valor es 5
El valor es 6
El valor es 7
El valor es 8
El valor es 9
El valor es 10
El valor es 11
El valor es 12
El valor es 13
El valor es 14
El valor es 15
El valor es 16
El valor es 17
El valor es 18
El valor es 19
El valor es 20
El valor es 21
El valor es 22
El valor es 23
El valor es 24
El valor es 25
El valor es 26
El valor es 27
El valor es 28
El valor es 29
El valor es 30
El valor es 31
El valor es 32
El valor es 33
El valor es 34
El valor es 35
El valor es 36
El valor es 37
El valor es 38
El valor es 39
El valor es 40
El valor es 41
El valor es 42
El valor es 43
El valor es 44
El valor es 45
El valor es 46
El valor es 47
El valor es 48
El valor es 49
El valor es 50
El valor es 51
El valor es 52
El valor es 53
El valor es 54
El valor es 55
El valor es 56
El valor es 57
El valor es 58
El valor es 59
El valor es 60
El valor es 61
El valor es 62
El valor es 63
El valor es 64
El valor es 65
El valor es 66
El valor es 67
El valor es 68
El valor es 69
El valor es 70
El valor es 71
El valor es 72
El valor es 73
El valor es 74
El valor es 75
El valor es 76
El valor es 77
El valor es 78
El valor es 79
El valor es 80
El valor es 81
El valor es 82
El valor es 83
El valor es 84
El valor es 85
El valor es 86
El valor es 87
El valor es 88
El valor es 89
El valor es 90
El valor es 91
El valor es 92
El valor es 93
El valor es 94
El valor es 95
El valor es 96
El valor es 97
El valor es 98
El valor es 99

In [1]:
listaAnimales=list()
listaAnimales.append('monkey')
listaAnimales.append('donkey')
listaAnimales.append('mouse')
listaAnimales.append('cocodrile')
listaAnimales.append('fish')
print(listaAnimales)
tmp1=listaAnimales[:3]
print("Animales %s"%(tmp1))

tmp2=listaAnimales[2:]
print("Animales %s"%(tmp2))

tmp3=listaAnimales[2:4]
print("Animales %s"%(tmp3))

listaAnimales[2:4]=['bear','cow']
print(listaAnimales)

['monkey', 'donkey', 'mouse', 'cocodrile', 'fish']
Animales ['monkey', 'donkey', 'mouse']
Animales ['mouse', 'cocodrile', 'fish']
Animales ['mouse', 'cocodrile']
['monkey', 'donkey', 'bear', 'cow', 'fish']

In [2]:
for numero,animal in enumerate(listaAnimales):
  print('%d: %s'%(numero+1,animal))

1: monkey
2: donkey
3: bear
4: cow
5: fish

In [3]:
listNum=list(range(20))
print(listNum)
listNumCuadrado=list()

for numero in listNum:
  listNumCuadrado.append(numero**2)
print(listNumCuadrado)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [4]:
listCuadrados=[ i**2 for i in listNum]
print(listCuadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [5]:
listCuadrados=[ i for i in listNum if i%2==0]
print(listCuadrados)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
myDictionary={'dog':'cute','cat':'nice','mouse':'small'}
print(myDictionary)

{'dog': 'cute', 'cat': 'nice', 'mouse': 'small'}

In [7]:
for key in myDictionary:
  print(myDictionary[key])

cute
nice
small

In [8]:
dictiCuadrado={'1':1,'2':4,'3':9,'4':16}
print(dictiCuadrado)

dictiCuadrado={ i:i**2 for i in listNum}
print(dictiCuadrado)

{'1': 1, '2': 4, '3': 9, '4': 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}

In [9]:
setElementos={'monkey','donkey','mouse','cocodrile','fish'}
print(setElementos)

{'donkey', 'monkey', 'cocodrile', 'fish', 'mouse'}

In [10]:
print('donkey' in setElementos)
setElementos.add('bear')
print(setElementos)
#setElementos.remove('fish')
print(setElementos)
print(len(setElementos))

True
{'donkey', 'monkey', 'cocodrile', 'bear', 'fish', 'mouse'}
{'donkey', 'monkey', 'cocodrile', 'bear', 'fish', 'mouse'}
6

FUNCIONES

In [11]:
def sum(a,b):
  return a+b


tmp1=5
tmp2=9
print('La suma de los vaolres es igual:',sum(tmp1,tmp2))

La suma de los vaolres es igual: 14

In [12]:
listNumeros=[-1,5,0]


def evaluacionSigno(tmp):
  if tmp<0:
    return 'El numero ingresado es negativo'
  elif tmp>0:
    return 'El numero ingresado es Positivo'
  else:
    return 'El numero ingresado es cero'

for cadaNumero in listNumeros:
  print(evaluacionSigno(cadaNumero))

El numero ingresado es negativo
El numero ingresado es Positivo
El numero ingresado es cero

CLASES

In [13]:
class saludos(object):
  #construtor
  def __init__(self, nombre):
    self.nombre=nombre
    #print('Se ejecuta automaticamente')
  def mensaje(self):
    print('Hola', (self.nombre))

name1=saludos('Juan')
#print(name1.nombre)
name1.mensaje()

Hola Juan

In [25]:
class numeros(object):
  def __init__(self,numero1, numero2):
    self.numero1 = numero1
    self.numero2 = numero2
  def suma(self):
        return self.numero1 + self.numero2

problema1 = numeros(5, 9)
print(problema1.suma())

14